.form {
    margin-top: 20px;
    display: none;
    width: 350px;
    position: absolute;
    z-index: 1;
    padding: 25px 25px 50px;
    background: #fff;
    border-radius: 10px;
}

/*.center h1 {*/
/*    font-size: 2em;*/
/*    border-left: 5px solid dodgerblue;*/
/*    padding: 10px;*/
/*    color: #000;*/
/*    letter-spacing: 5px;*/
/*    margin-bottom: 60px;*/
/*    font-weight: bold;*/
/*    padding-left: 10px;*/
/*}*/

.form .form__input {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}

.form .form__input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.form .form__input:last-child {
    margin-bottom: 0;
}

.form .form__input span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.form .form__box .form__input label input:focus~.form__text,
.form .form__box .form__input label input:valid~.form__text {
    font-size: 14px;
    top: -17px;
    left: 5px;
}

.form__button {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    width: 50%;
    height: 50px;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}

.form__button:hover {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}
