@import './location.css';
@import './unit.css';
@import './form.css';

* {
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    max-width: 1226px;
    margin: 0 auto;
    padding: 0 15px;
}

html[data-theme="day"] .weather,
.weather {
    background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb;
}
html[data-theme="night"] .weather {
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}






