.btn-reset {
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    opacity: 0.6;
    background-color: transparent;
}

.units {
    display: flex;
}

.units__c, .units__f {
    padding: 3px 14px;
    border: 1px solid black;
    border-radius: 8px;
}

.unit-current {
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

.units__f {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.units__c {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
